.master-container{
    margin: 0 auto;
    position:relative;
}


.sliders{
    position:relative;
    height: 90px;

}

.sliderx{

    box-sizing: border-box;
    position:absolute;

    transform:translate(-50%,0);
}
.custom-label-pos{
    transform:rotate(90deg);
}

.macro > p{
    margin:0;
    padding:0;
}

.macro{
    position:relative;
    border: 1px solid black;
    display:inline-block;
    height: 60px;
    box-sizing: border-box;
}